.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

*.json
*.csv
*.qs
traceplots/
shell_scripts/console_output/

boxplots_pred_probs/
dpmm_fits/

figures/

bma_update_deck/

mcmc_samples/**/*.rds
mcmc_samples/*.rds

fits_and_weights/old/params/

